{% extends 'base.html' %}


{% block title %}
    Elimiar Empeado
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Eliminar empleado: {{ object.first_name}} {{ object.last_name}}</h1>
        <form class="cell" method="POST">{% csrf_token %}
            <p>Confirme si desea eliminar el empleado</p>
            <button type="submit" class="success button">confirmar</button>

        </form>

    </div>

</div>
{% endblock content %}

    
   